@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/fonts";

* {
    box-sizing: border-box;
    transition: .3s ease-out;
}

html {
    font-family: $primary-font;
    overflow-x: hidden; 
    body,
    ul {
        @include box-reset;
    }
    
    a{
        @include link-reset;
        color: $white;
    }

    h1,
    h2 {
        @include text (2rem, 2rem);
        font-family: $primary-font-bold;
    }
    h2 {
        @include text (1.14rem, 1.5rem);
    }
    h4,p {
        @include text (1rem, 1.5rem);
    }

    //change font size on screen resize
    @include tablet { 
        font-size: 17px;
        line-height: 130%; 
    }
}

.header {
    background-color: $black;

    .nav {
        @include nav;
    }
}

.logo {
    @include link-reset {
        width: inherit;
        text-align: center;
        font-size: 2rem;
        color: white;
        margin: 0 15px;
    }
}

.hero {
    @include background("../../assets/images/hero.jpg"){
        color: white;
        position: relative;
        min-height: 70vw;
    }

    &__text {
        @include text(2rem, 3rem);
        @include set-padding(10vw, 3vw);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-family: $primary-font-bold;
    }

    @include tablet {
        &__text {
            @include text(3.5rem, 4.25rem);
        }
    }
    @include desktop {
        &__text {
            @include text(5rem, 7rem);
            @include set-padding;
        }
    }
}

.overlay {
    @include overlay;
}

.main {
   width: 100%; 
   @include set-padding(0, 3vw);
}

.image {
    @include image{
        margin-bottom: 15px;
    }
    @include tablet {
        margin-bottom: 0;   
    }
}

.gallery-container {
    background-color: $light-silver;    
   @include desktop{
        @include set-padding;
   }
}
.gallery {
    @include flex-container{
        align-content: space-between;
    };

    &__image {
        @include image;
        @include zoom-on-hover {
            filter: grayscale(0);
        }

        filter: grayscale(1);
        margin: 0 15px 15px 0;
        
    }

    @include tablet {
        &__image {
            width: 30%;
        }
    }
    
    @include desktop {
        &__image {
            margin-bottom: 10px;
        }
    }
}

.article {
    color: $black;
    width: 100%;

    &__blurbs {
        @include flex-container {
            > * {
                margin-bottom: 10px;
            }
        }
    }

    @include tablet {
        @include set-padding(3vw, 3vw);

        &__blurbs {
            > * {
                width: 50%;
                padding-right: 30px;
            }
        }        
    }

    @include desktop {
        @include set-padding;
    }
}

.icon {
    @include flex-container{
        justify-content: space-between;
        width: 50vw;
    }
    
    &__item {
        width: 1.5rem;

        &:nth-of-type(2){
            width: calc(2em - 18px); // to compensate for SVG's weird sizing due to whitespace and dimensions
        }
    }
}

.footer {
   @include footer;
}

