@import "../partials/mixins";
@import "../partials/variables";
@import "../partials/fonts";

* {
    box-sizing: border-box;
    transition: .3s ease-out;
}

html {
    font-family: "Avenir";
    body, ul {
        padding: 0;
        margin: 0;  
    }
    
    h1 {
        @include text (2rem, 2rem);
        font-family: "AvenirBold";
    }
    h2 {
        @include text (1.14rem, 1.5rem);
        font-family: "AvenirBold";
    }
    h4 {
        @include text (1rem, 1.5rem);
    }

    p {
        @extend h4;
    }

    @include tablet {
        h1 {
            @include text(2.25rem, 2.75rem);
        }

        h2 {
            @include text(2rem, 2rem);
        }

        h3 {
            @include text(1rem, 1.5rem);
        }

        h4,
        p {
            @include text(0.87rem, 1.38rem);
        }
    }
}

.header {
    background-color: $black;

    .nav {
        @include flex-container{
            width: 100vw;
            height: 100%;
            align-items: center;
            color: $silver;
        }    
        &__item {
            @include 
            flex-container;
            width: 100%;
            font-size: 1.25rem;
            margin-top: 10px;
    
            &__links {
                @include list-reset;
                @include flex-container;
                justify-content: space-evenly; 
                width: 100%;
    
                > * {
                    @include link-reset{
                        text-align: center;
                        width: 50%;
                        padding: 10px 0;
                    }
                }
    
                &--active {
                    @include active;
                }
            }
        }

        @include tablet { 
            width: 100%;
            &__item {
                width: auto;
                align-items: center;  
                margin-left: 15px;  
    
                &__links {
                    > * {
                        @include text(1.14rem, 1.38rem){
                            width: auto; 
                            padding: 3vw;
                        }
                    }
                }
            } 
        }
        @include desktop{
            @include desktop-spacing;
        }
    }
}

.logo {
    @include link-reset{
        width: inherit;
        text-align: center;
        font-size: 2rem;
        color: white;
    }
}

.hero {
    @include background("../../assets/images/hero.jpg"){
        height: 60vw;
        color: white;
        position: relative;
    }
    &__text {
        position: absolute;
        font-size: 2rem;
        top: 50%;
        transform: translateY(-50%);
        font-family: "AvenirBold";

        @include desktop{
            @include desktop-spacing;
        }
    }

    @include tablet {
        height: 100vh;
        &__text {
            @include text(3.5rem, 4.25rem);
        }
    }
}

.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
}

.main {
    padding: 10vw 3vw;
    color: $black;

    @include tablet {
        padding: 3vw 3vw;
    }

    @include desktop{
        @include desktop-spacing;
    }
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    
    @include tablet {
        margin-bottom: 0;   
    }
}

.image-container {
    @include flex-container{
        align-content: space-between;
    };
    // justify-content: center;

    .image {
        filter: grayscale(1);
        flex-grow: 1;
        margin: 0 15px 15px 0;

        &:hover {
            filter: grayscale(0);
            transform: scale(1.1);
        }
    }

    @include tablet {
        .image {
            width: 30%;
        }
    } 
}

.article {
    &__blurbs {
        @include flex-container {
            > * {
                margin-bottom: 10px;
            }
        }
    }

    @include tablet {
        &__blurbs {
            > * {
                width: 50%;
                padding-right: 30px;
            }
        }        
    }

    @include desktop {
        &__main{
            padding: 0 5vw;
        }
    }
}

.card {
    flex: 1 0 33%;
    &__blurb {
        > p > span {
            display: block;
            
            @include tablet {
                display: inline-block;
            }
        }
    }
}

.icon {
    @include flex-container{
        justify-content: space-between;
        width: 50vw;
    }
    
    &__item {
        width: 2em;

        &:nth-of-type(2){
            width: calc(2em - 12px);
        }
    }
}

.footer {
    padding: 5vw 3vw;
    color: white;
    background-color: $black;
    @extend h4;

    &__wrapper {
        @include flex-container{
            align-items: baseline;
            flex-direction: column;
            position: relative;
        }
    }

    &__heading {
        font-size: 2.5rem;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        @extend .logo;
        display: none;
    }

    @include tablet {
        &__header,
        .icon {
            display: flex;
        }

        &__header {
            flex-wrap: wrap;
        }  

        &__wrapper{
            flex-direction: row;

            &--outer {
                @include flex-container;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        .icon {
            width: auto;
            &__item {
                margin: 0 20px;
            }
        }

        &__logo {
            @media screen and (min-width: 705px) {
                display: inline-block;
            }

            @media screen and (min-width: 767px) {
                display: none;
            }

            @media screen and (min-width: 800px) {
                display: inline-block;
            }
        }

        &__contact {
            flex-direction: row;
            flex-wrap:wrap;
        }
    }
    
    @include desktop{
        @include desktop-spacing;
    }
}

