@import '../../../partials/fonts';
@import '../../../partials/mixins';
@import '../../../partials/variables';

@mixin default-view {
    * {
        box-sizing: border-box;
        transition: .3s ease-out;
    }
    
    html {
        font-family: $primary-font;
        overflow-x: hidden; 
        body,
        ul {
            @include box-reset;
        }
        
        a{
            @include link-reset;
            color: $white;
        }
    
        h1,
        h2 {
            @include text (2rem, 2rem);
            font-family: $primary-font-bold;
        }
        h2 {
            @include text (1.14rem, 1.5rem);
        }
        h4,
        p {
            @include text (1rem, 1.5rem);
        }
    }
    
    .header {
        background-color: $black;
        
        .nav {
            @include nav;
        }
    }
    
    .logo {
        @include link-reset {
            width: inherit;
            text-align: center;
            font-size: 2rem;
            color: white;
        }
    }
    
    .hero {
        @include background("../../assets/images/hero.jpg"){
            color: white;
            position: relative;
            min-height: 70vw;
        }
    
        &__text {
            @include text(2rem, 3rem);
            @include set-padding(0,2%);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-family: $primary-font-bold;
        }
    }

    .overlay {
        @include overlay;
    }
    
    .main {
       width: 100%; 
       @include set-padding(10%, 0);
       
    }
    
    .image {
        @include image{
            margin-bottom: 15px;
        }
    }
    
    .gallery-container {
        background-color: $light-silver;
        @include set-padding(3%, 2%);
    }
    
    .gallery {
        @include flex-container{
            justify-content: center;
        };
    
        &__image {
            @include image;
            @include zoom-on-hover {
                filter: grayscale(0);
            }

            flex-grow: 1;
            filter: grayscale(1);
            margin: 5px;
        }
    }
    
    .article {
        color: $black;
        width: 100%;
        @include set-padding(0,2%);
    
        &__blurbs {
            @include flex-container {
                > * {
                    margin-bottom: 10px;
                }
            }
        }
    }
    
    .icon {
        @include flex-container{
            justify-content: space-between;
            width: 50vw;
        }
        
        &__item {
            width: 1.5rem;
    
            &:nth-of-type(2){
                width: calc(2em - 18px); // to compensate for SVG's weird sizing due to whitespace and dimensions
            }
        }
    }

    .form {
        display: flex;
        width: 100%;
        padding: 10% 0;
        border-bottom: 1px solid lightgray;

        &__picture {
            margin-top: 35px;
            width: 55px;
            height: 55px;
            background: url('../../assets/Images/guy.jpg');
            background-size: cover;
            background-position: center;
            border-radius: 100px;
        }

        &__label {
            display: block;
        }

        &__section {
            width: 100%;
        }
        
        &__field {
            padding: 10px;
            width: 100%;
        }

        &__label {
            text-transform: uppercase;
        }
        &__field {
            > * {
                padding: 5px;
            }
        }
        &__input {
            width: 100%;
            padding: 15px;
            font-size: 1.1rem;
            resize: none;
            border-radius: 5px;
            border: 1px solid lightgray;
            background-color: #FAFAFA;
            
            &:focus {
                border: 2px solid black;
                outline: none;
             }
        }
    }

    .btn {
        @include button{
            width: 100%;
        };
    }
    .text-area {
        height: 200px;
    }


    .comment {
        display: flex;
        padding: 10px 0;
        border-bottom: 2px solid lightgray;

        &__left {
            padding: 0 15px;
          }

        &__right {
            width: 100%;
        }
       
        &__image {
            width: 50px;
            height: 50px;
            background-color: $silver;
            border-radius: 100px;
        }

        &__author {
            font-weight: bold;
        }

        &__header {
            display: flex;
            justify-content: space-between;
        }
    }
        
    .footer {
       @include footer;
    }    
}
