@import '../../../partials/fonts';
@import '../../../partials/mixins';
@import '../../../partials/variables';

@mixin desktop-view {
    @include desktop {
        html {
            font-size: 16px;
        }

        .hero {
            &__text {
                @include text(5rem, 7rem);
                @include set-padding;
                margin: 0;
            }
        }

        .main {
            padding: 0;
        }
        .gallery-container {   
            @include set-padding;
        }

        .gallery {    
            &__image {
                margin-bottom: 10px;
            }
        }
        
        .article {
            @include set-padding;

            &__main {
                @include set-padding(0, 10%);
            }
        } 
    }   
}
