@import '../../partials/fonts';
@import '../../partials/mixins';
@import '../../partials/variables';

@mixin tablet-view {
    @include tablet {
        html { 
            font-size: 17px;
            line-height: 130%; 
        }
        
        .hero {
            min-height: 100vh;
            &__text {
                @include text(3.5rem, 4.25rem);
            }
        }

        .header{
            position: absolute;
            width: 100%;
            top:0;
            left:0;
            z-index: 99; //to put nav in front at all times
        }
        
        .image {
            margin-bottom: 0;   
        }
        
        .gallery {
            &__image {
                width: 30%;
            }
        }
        
        .article {
            @include set-padding(3%, 3%);
    
            &__blurbs {
                > * {
                    width: 50%;
                    padding-right: 30px;
                }
            }        
        }     
    }
}