@import '../partials/fonts';
@import '../partials/variables';
@import '../partials/mixins';

// COMMON COMPONENTS IN ALL PAGES
* {
    box-sizing: border-box;
    transition: .3s ease-out;
}

@include html-preset;
@include header;
@include nav;
@include article;
@include overlay;
@include icon;
@include footer-preset;
@include main;
@include btn { width: 100%; }
@include hero { @include background('../../assets/Images/hero.jpg')}
@include logo { @include link-reset }

// END OF COMMON ELEMENTS

.text-area { height: 200px }

.image {
    @include image{ margin-bottom: 15px }
    @include tablet { margin-bottom: 0 }
}

.gallery-container {
    background-color: $light-silver;
    @include set-padding(3%, 2%);
    @include desktop { @include set-padding }
}

.gallery {
    @include flex-container{ justify-content: center }

    &__image {
        @include image;
        @include zoom-on-hover { filter: grayscale(0) }
        flex-grow: 1;
        filter: grayscale(1);
        margin: 5px;
    }
    
    @include tablet  { &__image { width: 30% } }
    @include desktop { &__image { margin-bottom: 10px } }
}

.form {
    display: flex;
    width: 100%;
    padding: 10% 0;
    border-bottom: 1px solid lightgray;
    
    &__section { width: 100% }
    &__picture {
        margin-top: 35px;
        width: 55px;
        height: 55px;
        background: url('../../assets/Images/guy.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 100px;
    }

    &__label { 
        display: block;
        text-transform: uppercase; 
    }

    &__field {
        padding: 10px;
        width: 100%;

        > *:not(.btn) { padding: 5px }
    }

    &__input {
        width: 100%;
        padding: 15px;
        font-size: 1.1rem;
        resize: none;
        border-radius: 5px;
        border: 1px solid lightgray;
        background-color: #FAFAFA;
        
        &:focus {
            border: 2px solid black;
            outline: none;
        }
    }
}

.comment {
    display: flex;
    padding: 10px 0;
    border-bottom: 2px solid lightgray;

    &__left { padding: 0 15px }
    &__right { width: 100% }
    &__author { font-weight: bold }
    
    &__image {
        width: 50px;
        height: 50px;
        background-color: $silver;
        border-radius: 100px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
}
    

