@import '../../../partials/mixins';


@mixin tablet-view {
    @include tablet{
        .table {
            &__row {
                flex-direction: row;
          
                > * {
                  width: 100%;
                  flex: 1 0 25%;
                }
          
                &__header{
                  display: none;
                }
          
                &--hide {
                    display: flex;
                }
            } 
        }
    }
}
