// colors 
$black: #323232;
$lightest-blue: #0095FF;
$lighter-blue: #0065AD;
$blue: #004892;
$dark-blue: #002F5F;
$light-silver: #FAFAFA;
$silver: #E1E1E1;
$dark-silver: #AFAFAF;

// breakpoints
$tablet-breakpoint: 600px;
$desktop-breakpoint: 900px;
$large-desktop-breakpoint: 1200px;