@import '../partials/variables';

// // AWESOME MIXIN MADE WITH LOVE BY MOI 
// @mixin set-font($arg: 16px){
//     $arg: #{$arg/$html-font-size}rem;
//     font-size: $arg;
//     @content;
// }

// RESETS
@mixin box-reset {
    padding: 0;
    margin: 0;  
}

@mixin link-reset {
    color: $dark-silver;
    text-decoration: none;
    @content;
}

@mixin list-reset {
    list-style: none;
    @content;
}

// FLEXBOX RELATED
@mixin flex-container {
    display: flex;
    flex-wrap: wrap;
    @content;
}

@mixin flex-item-centered {
    justify-content: center;
    align-items: center;
    @content;
}

// MODIFIERS AND BEHAVIOURS
@mixin active {
    color: $white;
    border-bottom: 4px solid $white;
    @content;
}

@mixin zoom-on-hover {
    &:hover {
        transform: scale(1.1);
        z-index: 100; 
        @content;
    }
}

@mixin offset-on-hover($color) {
    border-color: $orange;
    cursor: pointer;
    & {
        background-color: lighten($color,3%);
    }
    > * {
        color: $orange;
        transform: translateY(-5px); 
    }
}

// SETTERS
@mixin background ($url){
    background-image: url($url);
    background-size: cover;
    background-position: center;
    @content;
}

@mixin text ($size, $line-height){
    font-size: $size;
    line-height: $line-height;
    @content;

}

@mixin set-padding ($y: 3%, $x: 10%) {
    padding: $y $x;
    @content;
}

// BREAKPOINTS
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin large-desktop {
    @media screen and (min-width: $large-desktop-breakpoint){
        @content;
    }
}

@mixin custom-breakpoint ($min-width){
    @media screen and (min-width: $min-width){
        @content;
    }
}

// REUSABLE COMPONENTS 
@mixin nav {
    @include flex-container{
        width: 100vw;
        height: 100%;
        align-items: center;
        color: $silver;
    }    
    &__item {
        @include flex-container;
        width: 100%;
        font-size: 1.25rem;

        &:nth-of-type(1){
            @include set-padding(0, 2%);
        }

        &__links {
            @include list-reset;
            @include flex-container;
            justify-content: space-evenly; 
            width: 100%;

            > * {
                @include link-reset{
                    @include set-padding(10px, 0);
                    text-align: center;
                    width: 50%;

                    > * {
                        display: inline-block;
                        height: 100%;
                    }
                }

                &:hover {
                    @include offset-on-hover($black);
                }
            }

            &--active {
                @include active;
            }
        }
    }

    @include tablet { 
        // @include set-padding(0, 2%);
        width: 100%;
        &__item {
            width: auto;
            align-items: center;  
            // margin-left: 15px;  

            &__links {
                > * {
                    @include text(1.14rem, 1.38rem){
                        width: auto; 
                        @include set-padding(15px, 35px);
                    }
                }
            }
        } 
    }
    @include desktop{
        @include set-padding(0vh); 

        &__item {
            margin-right: 4%;

            &:nth-of-type(1){
                @include set-padding(0,0);
            }
        }

        

    }
}


@mixin footer {
    @include set-padding(5%, 3%);
    color: white;
    background-color: $black;
    @extend h4;

    &__wrapper {
        @include flex-container{
            align-items: baseline;
            flex-direction: column;
            position: relative;
        }
    }

    &__heading {
        font-size: 2.5rem;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logo {
        @extend .logo;
        display: none;
    }

    &__card {
        &__blurb {
            &--wrap {
                display: block;
            }
        }
    }
    

    @include tablet {
        &__header,
        .icon {
            display: flex;
        }

        &__header {
            flex-wrap: wrap;
        }  

        &__wrapper{
            flex-direction: row;

            &--outer {
                @include flex-container;
                justify-content: space-between;
                align-items: baseline;
            }
        }

        .icon {
            width: auto;
            &__item {
                margin: 0 20px;
            }
        }

        &__logo {
            @include custom-breakpoint(650px){display: inline-block};
            // @include custom-breakpoint(765px){display: none};
            // @include custom-breakpoint(803px){display: inline-block};
        }

        &__card {  
            &__blurb {
                &--wrap {
                    display: inline-block;
                }
            }
        }

        &__contact {
            flex-direction: row;
            flex-wrap:wrap;
        }
    }
    
    @include desktop{
        @include set-padding;

        &__contact {
            justify-content: flex-start;
        }

        &__card {
            margin-right: 2%;
        }
    }
}

@mixin overlay { 
    // SET PARENT ELEMENT TO POSITION RELATIVE BEFORE USING THIS MIXIN
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    @content;
}

@mixin image {
    width: 100%;
    height: auto;
    @content;
}
