// colors 
$black: #323232;
$lightest-blue: #0095FF;
$lighter-blue: #0065AD;
$blue: #004892;
$dark-blue: #002F5F;
$light-silver: #FAFAFA;
$silver: #E1E1E1;
$dark-silver: #AFAFAF;

// breakpoints
$tablet-breakpoint: 500px; // set to this value due to inconsistency ratio of screen real estate and spacing
$desktop-breakpoint: 768px; // 1200
$large-desktop-breakpoint: 1200px;
